* {
    font-family: 'Montserrat', sans-serif;
}

body {
    font-size: 14px;
    background: #f7f9f9;
}

.jumbotron {
    /*background: rgba(43,125,117, 0.2);*/
    background: #9EC5FE;
    border-radius: 0px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding-bottom: 125px;
}

.jumbotron+.container {
    margin-top: -125px;
}

.hero-image {
    height: 200px;
    width: 100%;
}

/*.btn {*/
/*    border-radius: 8px;*/
/*    font-weight: 500;*/
/*}*/
/*.btn-success {*/
/*    border-color: transparent;*/
/*    background: #40c3b5;*/
/*}*/
/*.btn-success:hover {*/
/*    border-color: transparent;*/
/*    background: #2B7D75;*/
/*}*/
ion-icon {
    font-size: 24px;
}

.navbar .nav-item {
    font-weight: 500;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
}

/*card*/
.card {
    background: #fff;
    border-radius: 8px;
    border: 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px -8px;
}

.card-header {
    background: #fff;
    border-bottom: 0px;
    padding: 24px 20px;
    border-radius: 8px !important;
}

.card-header:first-child {
    border-top-left-radius: 16px !important;
    border-top-right-radius: 16px !important;
}

.card-title {
    margin-bottom: 0px;
    font-weight: 500;
}

.card-title .text-primary {
    font-size: 12px;
}

.card-body:last-child {
    padding-bottom: 8px !important;
    border-bottom-left-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
}

.table {
    border: 0px;
}

.table.table-striped tr td {
    /*border: 0px;*/
    background: #fff;
    padding: 30px 22px;
    border-color: #eee;
}

.table.table-striped tr td h6 {
    font-size: 14px;
    font-weight: 500;
}

.table.table-striped tr td .value {
    font-size: 16px;
}

.table.table-sub.table-striped tr td {
    background: #f8f5f5;
}

.btn {
    border-radius: 6px;
    padding: 10px 24px;
    font-weight: 500;
    font-size: 14px;
    border-width: 2px;
}

.line-0 {
    line-height: 0;
}

.footer {
    padding: 20px 0px;
}

.form-group label {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 3px !important;
    margin-left: 4px;
}

.form-control {
    /*padding-top: 12px;*/
    /*padding-bottom: 12px;*/
    border-radius: 6px;
    border-width: 2px;
    font-weight: 500;
}

.form-control:focus {
    border-color: #2B7D75;
    outline: none !important;
    box-shadow: none !important;
}

.modal-content {
    border-radius: 8px;
}

.modal-header {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}


.progress-bar {
    font-weight: bold;
    font-size: 9px;
}

.card-calendar {
    position: fixed;
    z-index: 9999;
    bottom: 0;
    height: 100vh;
    width: 100%;
    left: 0;
    transition: .3s ease-in;
}

.card-calendar.hide {
    transform: translateY(100%);
    transition: .5s ease-out;
}

.card-calendar .card-body {
    overflow: auto;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 9px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline>li {
    margin-bottom: 32px;
    padding-left: 0px;
}

ul.timeline>li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #2B7D75;
    left: 0px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
